.svg-abs {position: absolute; }
.svg-f-btm { bottom: 0; left: 0; right: 0; width: 100%; z-index: 3; margin: -1px; }
.svg-white { fill: #FFF; }
.svg-top-left { top: 0; left: 0; }
.svg25p { width: 35%; z-index: 3; }
.g-overflow-hidden{position: relative}
.logo{ max-width: 65px}
.h2, h2{font-size: 2.4rem; font-weight: 300;}
.g-color-darkgrey{color: #282828;}
.hide{display: none}
hr{border-color: #BDBDBD;}
h4{ color: #2E307E;  font-size: 18px; line-height: 22px; ext-align: justify; }
h1 { text-transform: uppercase;color: #2E307E;  font-size: 20px;  font-weight: bold; text-align: justify; margin-left: 50px; margin-top: 25px;}
h1 span{ content: " "; position: absolute;  background-color: #BCF7EF;  width: 100px; height: 53px; z-index: -1; left: 15px; top: 12px;}
h5{ font-size: 18px; font-weight: bold; line-height: 22px; text-align: justify;}
.slidedown{transition: all .5s ease-in-out;}
#portfolio{background-color: #518AC0; color: #FFF; position: relative; z-index: -1;}
#portfolio p{font-size: 16px;font-weight: 500;line-height: 27px;}
#portfolio h2{ color: #FFF}
#portfolio hr{border-color: #80B7EA;}
label { color: #333333; font-size: 18px; font-weight: bold; line-height: 22px; text-transform: uppercase}
#contact{ background-color: rgba(81, 138, 192, 0.2); position: relative; overflow: hidden;}
.top-line{ background: #2E307E; width: 100%; height: 16px;}
#hide-investment-committee, #investment-committee{color:#4FD9C8;font-size: 20px;font-weight: 500;line-height: 24px;}
#committee-members{background: rgba(79, 217, 200, 0.1);}
#team{z-index: 10; background: #FFF;}
button{background-color: #4FD9C8;}
.notification{width: 97%; padding: 10px; height: 50px; position: absolute; bottom: 0; background: #518AC0; margin-bottom: -50px;}
.copyright {  color: #2E307E; font-weight: 600; letter-spacing: 2.25px; line-height: 22px; }
.text-bold{font-weight: bold; font-size: 20px;}
body{overflow-x:hidden}
@media (max-width: 972px) {
    .navbar-nav{ padding-top: 15px; }
    .nav-item{ padding: 10px 0; text-align: center; }
    .navbar-nav li:last-child{padding-bottom: 15px}
    /*mobile-bg{ background: rgba(0, 0, 192, 0.9) !important;}*/
}
@media (max-width: 640px) {
    h1{font-size: 16px; margin-top: 25px; margin-left: 37px;}
    h2, .h2{font-size: 1.5rem;}
    h1 span{ height: 45px; }
    .tp-resizeme{padding: 15px !important;}
    .notification{ width: 92%; height: 76px; margin-bottom: -76px;}
}
