/*------------------------------------
  Default Styles
------------------------------------*/
html {
  font-size: 14px;
}

body {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
  background-color: #fff;
}

a {
  color: #555555;
  outline: none;
}

a:focus,
a:hover {
  color: #518AC0;
}

.nav-link {
  color: #333333;
  letter-spacing: 1.75px;
    font-weight: bold;
    line-height: 18px;
}

.nav-link:focus,
.nav-link:hover {
  color: #555;
}

figure {
  margin-bottom: 0;
}

.container{
    max-width: 1000px;
}

/*------------------------------------
  Headings
------------------------------------*/
.h1, .h2, .h3, .h4, .h5, .h6, .h7,
h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

.h7 {
  font-size: .75rem;
}

/*------------------------------------
  Displays
------------------------------------*/
.display-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1;
}

/*------------------------------------
  Highlight Color
------------------------------------*/
::-moz-selection {
  color: #fff;
  background-color: #72c02c;
}

::selection {
  color: #fff;
  background-color: #72c02c;
}

.g-bg-primary ::-moz-selection {
  color: #72c02c;
  background-color: #fff;
}

.g-bg-primary ::selection {
  color: #72c02c;
  background-color: #fff;
}
