body{
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}
*{position: relative}
.container{max-width: 960px}
.white{color: #FFFFFF;}
.black{color: #000000;}
.blue{color: #518AC0;}
.mid-spacing{ padding: 5vh 0}
h1{ color: #FFFFFF; font-size: 64px; font-weight: 600;line-height: 83px;}
h2{font-weight: 300;  font-size: 40px; line-height: 49px; text-align: justify;}
h3{ line-height: 19px; font-size: 16px; font-weight: bold }
p{font-size: 16px;font-weight: 500;line-height: 31px;text-align: justify;}
.img-fluid{width: 100%}
.img-radius{ border-radius: 3px}
.footer{background-color: #518AC0; opacity: 0.13; min-height: 255px; position: relative;}
.footer > .strip{height: 26px; background-color: #000; width: 930px; margin: auto;}
.hero-caption{position: absolute; bottom: 20vh;left: 0;}